

@{
    ViewData["Title"] = "Đặt dịch vụ thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>Đặt dịch vụ thành công!</h2>
<p>Cảm ơn bạn đã đặt dịch vụ. Chúng tôi sẽ xử lý yêu cầu của bạn sớm nhất có thể.</p>
<a asp-action="Index" class="btn btn-success">Quay lại danh sách dịch vụ</a>

