@model OfficePlantCare.Models.Admin

<form asp-action="Delete" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="@Model.AdminId" />
    <p>Bạn có chắc chắn muốn xóa <strong>@Model.Username</strong> không?</p>
    <button type="submit" class="btn btn-danger">Xóa</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
</form>
