<!-- Pre-loader Start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill">
            <img src="https://seaoffice.vn/wp-content/uploads/2024/08/cay-canh-van-phong.jpg" alt="Loading..." class="loader-image">
        </div>
    </div>
</div>
