<!-- Pre-loader Start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill">
            <img src="~/assets/images/preloader/preloader_1.jpg" alt="Loading..." class="loader-image">
        </div>
    </div>
</div>
